#landscape__message--container {
  display: none;
}

@media (orientation: portrait) {
  #landscape__message--container {
    display: block;
  }

  .main__text.intro__text {
    margin-right: 10vh;
  }
}

.landscape__off {
  display: hidden;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }

  .button__donation {
    font-size: 1.2rem;
    min-width: 70%;
  }

  .main__text.intro__text {
    font-size: 1.2rem;
  }

  // #box_13 .main__text, #box_17 .main__text, #box_18 .main__text, #box_19 .main__text, #box_20 .main__text, #box_22 .main__text, #box_27 .main__text   {
  //   margin-left: 19rem;
  //   }

  }
