#landscape__message--container {
  display: none;
}

@media (orientation: portrait) {
  #landscape__message--container {
    display: block;
  }

  .main__text.intro__text {
    margin-right: 10vh;
  }
}

.landscape__off {
  display: hidden;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }

  .button__donation {
    font-size: 1.2rem;
    min-width: 70%;
  }

  .main__text.intro__text {
    font-size: 1.2rem;
  }

  }

  
// Reduced motion media query

@media (prefers-reduced-motion) {
  #cat_1,
  #cat_2,
  #cat_3,
  #monkey_1,
  #monkey_2,
  #monkey_3 {
    transition: opacity 5s;
  }

  .people {
    animation: none;
  }

  .tree {
    animation: none;
  }

  .cloud {
    animation: none;
  }

  #factory {
    animation: none;
  }

  .cow__head {
    animation: none;
  }

  .forest_animal_head {
    animation: none;
  }

  .wrapper__container[animation="box_15"] {
    .tree__row--front-right {
      transform: rotate(0);
    }
  }

  .wrapper__container[animation="box_16"] {
    .tree__row--front-left {
      transform: rotate(0);
    }
  }
  .wrapper__container[animation="box_17"] {
    #cat_1 {
      transform: translateY(-5vh);
      z-index: 1;
    }

    #cat_2 {
      transform: translateY(-15vh);
      z-index: 1;
    }

    #cat_3 {
      transform: translateY(-10vh);
      z-index: 1;
    }

    #monkey_1 {
      transform: translateY(-10vh);
      z-index: 1;
    }

    #monkey_3 {
      transform: translateY(-20vh);
      z-index: 1;
    }
  }
  .wrapper__container[animation="box_20"] {
    .tree__row--middle-right {
      transform: rotate(0);
    }
  }

  .wrapper__container[animation="box_22"] {
    #monkey_2 {
      transform: translateY(0);
    }

    .tree__row--middle-left {
      transform: rotate(0);
    }
  }

  video {
    display: none;
  }

  .foreground__container {
    background-image: url(../assets/deforestation-bg-image.jpg);
  }

  .fire__animation--one,
  .fire__animation--two,
  .fire__animation--three,
  .fire__animation--four {
    animation: walk 1.5s step-end infinite;
  }
}
