*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
}

body {
    height:800dvh;
    
}

h1 {
    position: absolute;
    z-index: 2;
    top: 50dvh;
    left: 47dvw;
}

.wrapper__container {
    display: flex;
    max-height: 100dvh;
     position: absolute;
     z-index: 1;
}

.wrapper__left, .wrapper__right {
    width: 50dvw;
    min-width: 50dvw;
    height: 100dvh;
    outline: 1px solid black;
    position: fixed;
    background: linear-gradient(180deg, rgba(0,245,255,1) 50%, rgba(45,166,0,1) 50%);

}

// .wrapper__left {
//     background-color: rgb(71, 255, 194);
    
// }


.wrapper__right {
// background: linear-gradient(180deg, rgba(0,245,255,1) 50%, rgba(45,166,0,1) 50%);
// position: absolute;
left: 50dvw;
}

