*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
}

body {
    height:800dvh;
    
}

h1 {
    position: absolute;
    z-index: 2;
    top: 120dvh;
    left: 50dvw;
}

.wrapper__container {
    display: flex;
    max-height: 100dvh;
     position: absolute;
     z-index: 1;
}

.wrapper__left, .wrapper__right {
    width: 50dvw;
    min-width: 50dvw;
    height: 100dvh;
    // outline: 3px solid black;
    position: fixed;
}

.wrapper__left {
    background-color: rgb(71, 255, 194);
    
}


.wrapper__right {
    background-color: aqua;
// position: absolute;
left: 50dvw;
}

