img {
  position: absolute;
  // max-width: 30vw;
}

//Forest
#tree_1 {
  width: 5vw;
  bottom: 50vh;
  left: 5vw;
}

#tree_2 {
  width: 7vw;
  bottom: 52vh;
  left: 10vw;
}

#tree_3 {
  width: 6vw;
  bottom: 52vh;
  left: 16vw;
}

#tree_4 {
  width: 5vw;
  bottom: 53vh;
  left: 22vw;
}

#tree_5 {
  width: 6vw;
  bottom: 50vh;
  left: 28vw;
}

//Town
.house__large--one {
  width: 10vw;
  top: 40vh;
  left: 7vw;
}

.house__small--one {
  width: 10vw;
  top: 40vh;
  left: 20vw;
}

.hut__small--one {
  width: 11vw;
  top: 48vh;
  left: 12vw;
}

.house__large--two {
  width: 20vw;
  top: 40vh;
  left: 25vw;
}

.house__small--two {
  width: 10vw;
  top: 50vh;
  left: 25vw;
}
