svg {
    position: absolute;
    max-height: 15em;
    height: 100%;
    max-width: 20%;
}


.house__large--one {
    width: 10em;
    top: 8em;
    left: 7em;
}

.house__small--one {
    width: 10em;
    top: 9em;
    left: 20em;
}