svg,
img {
  position: absolute;
  // max-height: 20vh;
  // max-width: 30vw;
}

.house__large--one {
  width: 10vw;
  // height: 10vw;
  top: 40vh;
  left: 7vw;
}

.house__small--one {
  width: 10vw;
  // height: 10vw;
  top: 40vh;
  left: 20vw;
}

.hut__small--one {
  width: 11vw;
  // height: 11vw;
  top: 46vh;
  left: 12vw;
}

.house__large--two {
  width: 15vw;
  // height: 15vw;
  top: 40vh;
  left: 29vw;
}
img {
  position: absolute;
  // max-width: 30vw;
}

//Forest
#tree_1 {
  @include place(5vw, 50vh, 0vw);
}

#tree_2 {
  @include place(7vw, 52vh, 5vw);
}

#tree_3 {
  @include place(6vw, 52vh, 11vw);
}

#tree_4 {
  @include place(5vw, 53vh, 17vw);
}

#tree_5 {
  @include place(6vw, 52vh, 22vw);
}

#tree_6 {
  @include place(6vw, 53vh, 28vw);
}

#tree_7 {
  @include place(4vw, 52vh, 34vw);
}

#tree_8 {
  @include place(6vw, 49vh, 38vw);
}

#tree_9 {
  @include place(5vw, 43vh, 2vw);
}

#tree_10 {
  @include place(7vw, 40vh, 7vw);
}

#tree_11 {
  @include place(6vw, 45vh, 14vw);
}

#tree_12 {
  @include place(5vw, 42vh, 20vw);
}

#tree_13 {
  @include place(6vw, 40vh, 26vw);
}

#tree_14 {
  @include place(6vw, 41vh, 32vw);
}

#tree_15 {
  @include place(6vw, 40vh, 37vw);
}

#tree_16 {
  @include place(6vw, 39vh, 43vw);
}

#tree_17 {
  @include place(4vw, 33vh, 0vw);
}

#tree_18 {
  @include place(5vw, 32vh, 6vw);
}

#tree_19 {
  @include place(6vw, 35vh, 11vw);
}

#tree_20 {
  @include place(5vw, 32vh, 16vw);
}

#tree_21 {
  @include place(6vw, 30vh, 22vw);
}

#tree_22 {
  @include place(6vw, 31vh, 28vw);
}

#tree_23 {
  @include place(6vw, 30vh, 34vw);
}

#tree_24 {
  @include place(6vw, 29vh, 40vw);
}
.tree__row--back{
  z-index: 1;
}

.tree__row--middle{
  z-index: 2;
}

.tree__row--front{
  z-index: 3;
}

//Town
.house__large--one {
  width: 10vw;
  top: 40vh;
  left: 7vw;
}

.house__small--one {
  width: 10vw;
  top: 40vh;
  left: 20vw;
}

.hut__small--one {
  width: 11vw;
  top: 48vh;
  left: 12vw;
}

.house__large--two {
  width: 20vw;
  top: 40vh;
  left: 25vw;
}

.house__small--two {
  width: 10vw;
  // height: 10vw;
  top: 50vh;
  left: 27vw;
}

.cloud__one {
  width: 38vw;
  height: 8vw;
  top: 10vh;
  left: 10vw;
}
