*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
}

/*h1 {
    position: absolute;
    z-index: 2;
    top: 45vh;
    left: 47vw;
}*/
.wrapper__container {
  display: flex;
  max-height: 100vh;
  position: absolute;
  z-index: 1;
}

.foreground {
  position: absolute;
  flex-shrink: 0;
  width: 100%;
  z-index: 5;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.wrapper__left, .wrapper__right {
  width: 50vw;
  min-width: 50vw;
  height: 100vh;
  outline: 1px solid black;
  position: fixed;
  background: linear-gradient(180deg, rgb(0, 245, 255) 45%, rgb(45, 166, 0) 40%);
}

.wrapper__svg--right {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  overflow: hidden;
}

.wrapper__right {
  left: 50vw;
}

.wrapper__svg--right {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  overflow: hidden;
}

.textbox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 80vw;
}
.textbox:first-child {
  margin-top: 10vh;
}
.textbox:last-child {
  margin-bottom: 10vh;
}

.textbox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 80vw;
}
.textbox:first-child {
  margin-top: 10vh;
}
.textbox:last-child {
  margin-bottom: 10vh;
}

#landscape-message {
  height: 100vh;
  background-color: azure;
  font-weight: bold;
  text-align: center;
  margin-top: 50vh;
}

.tree {
  animation-name: tree-movement;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  transform-origin: 50% 100%;
}

.cloud__one {
  animation: cloud-animation 30s alternate-reverse infinite;
}

.cloud__two {
  animation: cloud-animation 40s alternate-reverse ease-in-out infinite;
}

.people__man--one {
  animation: walk 1s step-end infinite;
}

.people__man--two {
  animation: walk 1s step-end infinite;
}

.wrapper__container[animation=box_3] .tree {
  animation-name: tree-fall;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes cloud-animation {
  0% {
    transform: translateX(-10vw);
  }
  50% {
    transform: translateX(10vw);
  }
  100% {
    transform: translateX(0vw);
  }
}
@keyframes tree-movement {
  0% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(-2.5deg);
  }
  100% {
    transform: rotate(5deg);
  }
}
@keyframes tree-fall {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-90deg);
  }
  100% {
    opacity: 0;
    transform: rotate(-90deg);
  }
}
@keyframes walk {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}
svg,
img {
  position: absolute;
}

#tree_1 {
  width: 5vw;
  bottom: 50vh;
  left: 0vw;
}

#tree_2 {
  width: 7vw;
  bottom: 52vh;
  left: 5vw;
}

#tree_3 {
  width: 6vw;
  bottom: 52vh;
  left: 11vw;
}

#tree_4 {
  width: 5vw;
  bottom: 53vh;
  left: 17vw;
}

#tree_5 {
  width: 6vw;
  bottom: 52vh;
  left: 22vw;
}

#tree_6 {
  width: 6vw;
  bottom: 53vh;
  left: 28vw;
}

#tree_7 {
  width: 4vw;
  bottom: 52vh;
  left: 34vw;
}

#tree_8 {
  width: 6vw;
  bottom: 49vh;
  left: 38vw;
}

#tree_9 {
  width: 5vw;
  bottom: 43vh;
  left: 2vw;
}

#tree_10 {
  width: 7vw;
  bottom: 40vh;
  left: 7vw;
}

#tree_11 {
  width: 6vw;
  bottom: 45vh;
  left: 14vw;
}

#tree_12 {
  width: 5vw;
  bottom: 42vh;
  left: 20vw;
}

#tree_13 {
  width: 6vw;
  bottom: 40vh;
  left: 26vw;
}

#tree_14 {
  width: 6vw;
  bottom: 41vh;
  left: 32vw;
}

#tree_15 {
  width: 6vw;
  bottom: 40vh;
  left: 37vw;
}

#tree_16 {
  width: 6vw;
  bottom: 39vh;
  left: 43vw;
}

#tree_17 {
  width: 4vw;
  bottom: 33vh;
  left: 0vw;
}

#tree_18 {
  width: 5vw;
  bottom: 32vh;
  left: 6vw;
}

#tree_19 {
  width: 6vw;
  bottom: 35vh;
  left: 11vw;
}

#tree_20 {
  width: 5vw;
  bottom: 32vh;
  left: 16vw;
}

#tree_21 {
  width: 6vw;
  bottom: 30vh;
  left: 22vw;
}

#tree_22 {
  width: 6vw;
  bottom: 31vh;
  left: 28vw;
}

#tree_23 {
  width: 6vw;
  bottom: 30vh;
  left: 34vw;
}

#tree_24 {
  width: 6vw;
  bottom: 29vh;
  left: 40vw;
}

.tree__row--back {
  z-index: 1;
}

.tree__row--middle {
  z-index: 2;
}

.tree__row--front {
  z-index: 3;
}

.house__large--one {
  width: 10vw;
  bottom: 45vh;
  left: 7vw;
}

.house__small--one {
  width: 10vw;
  bottom: 43vh;
  left: 20vw;
}

.hut__small--one {
  width: 11vw;
  bottom: 25vh;
  left: 12vw;
}

.house__large--two {
  width: 15vw;
  bottom: 15vh;
  left: 25vw;
}

.house__small--two {
  width: 10vw;
  bottom: 40vh;
  left: 34vw;
}

.cloud__one {
  height: 8vw;
  width: 38vw;
  bottom: 70vh;
  left: 10vw;
}

.cloud__two {
  width: 8vw;
  bottom: 85vh;
  left: 7vw;
}

.people__man--one {
  width: 8vw;
  bottom: 20vh;
  left: 20vw;
}

.people__man--two {
  width: 7vw;
  bottom: 30vh;
  left: 1vw;
}

#landscape-message {
  display: none;
}

@media (orientation: portrait) {
  #landscape-message {
    display: block;
  }
}/*# sourceMappingURL=index.css.map */